* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}



body {
    /* border: .1rem solid #b12b2b; */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    /* border: .1rem solid red; */
    background-color: black;
    color: #eee;
    height: 3rem;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    align-content: center;
}

.logo {
    background-color: blue;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bold;
}
.titulo{
    /* border: .1rem solid greenyellow; */
    flex: 1;
}

.menu-hamburguer{
    /* border: .1rem solid red; */
    width: 1.2rem;
    height: 1.2rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 100%;
}

.menu-hamburguer:hover{
    background-color: #5e5e5e;
}

.menu-hamburguer:hover i{
    color: #ddd;
}

.menu-hamburguer i:hover{
    color: white;
}

.menu-hamburguer i{
    color: #ccc;
    font-size: 1.5rem;
}

section {
    border: .1rem solid blue;
    display: flex;
    flex: 1;
}

nav {
    /* border: .1rem solid orangered; */
    width: 10rem;
    background-color: #eee;
}

main {
    /* border: .1rem solid purple; */
    flex: 1;
    padding: .7rem;
}
.imagem{
    width: 100%;
}
.cartao{
    border: .2rem solid #ddd;
    width: 12rem;
    height: 16rem;
    box-shadow: .5rem .5rem .3rem .03rem #eee;
    padding: .5rem;
}
.titulo-cabecalho{
    font-size:1.5rem;
    font-weight:bold;
    margin-top: .2rem;
}
.preco{
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
    text-align: right;
}
.descricao{
    margin-top:.2rem ;
}
.botao{
    border:none;
    border-radius: .5rem;
    background-color: blue;
    color: #eee;
    width: 100%;
    padding: .3rem .5rem;
    margin-top: 1rem;
    font-weight:bold;
}

footer {
    /* border: .1rem solid green; */
    background-color: black;
    color: #eee;
    height: 3rem;
}

@media(max-width: 576px){
    .titulo-cabecalho{
        opacity: 0;
    }
}